---
layout: archive
---

{{ content }}

<!-- h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <h2 style="font-size: 20px;">01/24: Working on a first publication!</h2>
    <p style="font-size: 16px;">I am currently supporting the Theoretical Chemistry group at the TU Wien as a student researcher. I'm working on a GAN to generate molecular structures. Paper under review.</p>
  </div>
  <div style="margin-left: 10px; flex-shrink: 0;">
    <img src="assets/images/Screenshot 2024-06-17 at 20.14.57.png" alt="University 1 Logo" width="300" height="300" style="opacity: 1;">
  </div>
</div>

<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <h2 style="font-size: 20px;">07/23: Joined Lumos, a junior enterprise focused on data science</h2>
    <p style="font-size: 16px;">After completing a sneak peek project for one semester, 
      being an academy member for another semester, I'm currently the head of academy. I'm also working as
    a data science consultant on a project at Siemens.</p>
  </div>
  <div style="margin-left: 10px; flex-shrink: 0;">
    <img src="assets/images/lumos_data_consulting_logo.jpeg" alt="University 1 Logo" width="50" height="50">
  </div>
</div>

<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <h2 style="font-size: 20px;">10/22: Started my Master's in Data Science</h2>
    <p style="font-size: 16px;">Taking the Machine Learning and Statistics specialization.</p>
  </div>
  <div style="margin-left: 10px; flex-shrink: 0;">
    <img src="assets/images/image.png" alt="University 1 Logo" width="50" height="50">
  </div>
</div>


<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <h2 style="font-size: 20px;">07/22: Data-driven prediction of pharmaceutical granules' size</h2>
    <p style="font-size: 16px;">
      I finished my Master's thesis and was awarded an 18/20, which was the highest obtained grade amongst fellow graduates!
      <br> 
      <br>
      The goal was to predict the particle size distribution of pharmaceutical granules given some machine settings and blending ratios.
      Here is a part of my abstract which covers the technical part pretty nicely:
      <br>
      <em>By interpreting the conditional mean embedding of distributions as a kernel ridge regression problem, 
      the relationships between the distributions and the combined information 
      of the process settings and blending ratios are learned. After a translation from the 
      reproducing kernel Hilbert space to the original space, predictions are evaluated and interpreted. 
      Successful predictions of the particle size distributions given process settings 
      and blending ratios are obtained. Its speed, ease of handling, compactness, and accurate 
      validated results make the model an attractive data-driven machine learning framework.</em>
    </p>
  </div>
</div>

<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <h2 style="font-size: 20px;">07/22: Finished my Master's in Bioscience Engineering Technology</h2>
    <p style="font-size: 16px;">Graduated with Magna Cum Laude.</p>
  </div>
  <div style="margin-left: 10px; flex-shrink: 0;">
    <img src="assets/images/Ghent_University_logo_(English).png" alt="University 1 Logo" width="50" height="50">
  </div>
</div>

<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <h2 style="font-size: 20px;">07/21: Finished my Bachelor's in Bioscience Engineering Technology</h2>
    <p style="font-size: 16px;">Enjoying my time in Ghent.</p>
  </div>
  <div style="margin-left: 10px; flex-shrink: 0;">
    <img src="assets/images/Ghent_University_logo_(English).png" alt="University 1 Logo" width="50" height="50">
  </div>
</div>

<div style="display: flex; align-items: center; justify-content: space-between;">
  <div>
    <h2 style="font-size: 20px;">07/18: Spent one year abroad in Rovaniemi (Finland)</h2>
    <p style="font-size: 16px;">After graduating from high school, I joined the AFS exchange program. This means I redid my final year of high school abroad. I chose Finland as my destination and I got to live with a wonderful host family in Rovaniemi (at the polar circle!).</p>
  </div>
</div>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
